<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">
    <h1>Shop Cart</h1>
    <p class="text-main">
        Total price:{{ cartDetails.totalCartPrice | currency:" EGP "}}
    </p>
    <div class="row p-3" *ngFor="let item of cartDetails.products">
       <div class="col-md-2"> 
        <img [src]="item.product.imageCover" alt="" class="w-100">
       </div>
       <div class="col-md-10">
        <div class="d-flex justify-content-between">
            <div>
                <h5>{{item.product.title}}</h5>
                <p class="text-main">price: {{item.price | currency:" EGP "}}</p>
                <button class="btn" (click)="removeCartItem(item.product._id)"><i class="fa-regular fa-trash-can text-main"></i> Remove</button>
             </div>
             <div>
                <button class="btn border border-success" (click)="changeCount(item.product._id, item.count + 1)">+</button>
                <span class="p-3">{{item.count}}</span>
                <button class="btn border border-success"  (click)="changeCount(item.product._id, item.count - 1)">-</button>
             </div>
        </div>
       </div>

    </div>
    <button class="btn-main" [routerLink]="['/checkout', cartDetails._id]">Online Payment</button>

</section>
